[defaults]
host_key_checking = false
# hostfile = inventory/vagrant
forks = 50
remote_user = vagrant
# private_key_file = ~/.ssh/id_rsa
private_key_file = ~/.vagrant.d/insecure_private_key
roles_path = ../../
log_path = ./ansible.log
executable = /bin/bash
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ~/.ansible/tmp/cache
retry_files_enabled = False

# 2 hour timeout
fact_caching_timeout = 7200

[ssh_connection]
ssh_args = -o ControlPersist=60s -q
