[defaults]
host_key_checking = false
hostfile = aio-node-inventory
forks = 25
remote_user = vagrant
private_key_file = ~/.vagrant.d/insecure_private_key
log_path = ./installation-logs-configs/ansible.log
retry_files_enabled = False
roles_path = ../../