[defaults]
host_key_checking = false
hostfile = inventory
forks = 50
remote_user = ec2-user
private_key_file = ~/.ssh/id_rsa
roles_path = /Users/carlosfrias/Dropbox/professional-workspaces/apigee/workspaces/architecture/workspace/opdk-workspace/opdk-ansible-workspace/edge_1507/opdk-roles
log_path = ./ansible.log
retry_files_enabled = False
executable = /bin/bash
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_cache

# 2 hour timeout
fact_caching_timeout = 7200
