{% for host in groups['ds']%}
IP{{ loop.index }}={{ hostvars[host][interface_name].ipv4.address }}
{% endfor %}
HOSTIP={{ hostvars[inventory_hostname][interface_name].ipv4.address }}

ADMIN_EMAIL={{ opdk_user_email }}

APIGEE_ADMINPW={{  opdk_user_pass }}

OLD_APIGEE_ROOT={{  opdk_old_apigee_root }}
OLD_DATA_ROOT={{ opdk_old_data_root }}

LICENSE_FILE={{ opdk_license_target_file_path }}

CASS_HOSTS="{% for host in groups['ds'] %} $IP{{loop.index}}:1,1{% endfor %}"
